{% extends "base.html" %}
{% block title %}Добавить товар{% endblock %}
{% block content %}
<h2>Добавить товар</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">{{ form.name.label }} {{ form.name(class="form-control") }}</div>
    <div class="mb-3">{{ form.description.label }} {{ form.description(class="form-control") }}</div>
    <div class="mb-3">{{ form.price.label }} {{ form.price(class="form-control") }}</div>
    <div class="mb-3">{{ form.category.label }} {{ form.category(class="form-select") }}</div>
    <div class="mb-3">{{ form.stock.label }} {{ form.stock(class="form-control") }}</div>
    <button class="btn btn-success">Добавить</button>
    <a href="{{ url_for('index') }}" class="btn btn-outline-secondary">Отмена</a>
</form>
{% endblock %}
